<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Will's and Jess' Books</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>

<style>
    table {
      margin-bottom: 20px;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: rgba(0, 0, 0, 0.5);

      display: flex;
      justify-content: center;
      align-items: center;

      z-index: 9999;
    }

    .modal {
      background: white;
      padding: 20px;
      border-radius: 8px;
      min-width: 300px;
      max-width: 500px;
    }
</style>


</head>
<body>
    <div id="app">
      <div v-if="WillJess == 0">
        <h2 >Will's Books</h2>
        <button style="margin-bottom: 20px;" @click="WillJess = 1">Switch to Jess' Books</button>
      </div>
      <div v-else>
        <h2 >Jess' Books</h2>
        <button style="margin-bottom: 20px;" @click="WillJess = 0">Switch to Will's Books</button>
      </div>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Year Read</th>
      <th>Rating/10</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <template v-for="book in books[WillJess]">
      
      <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.rating }}</td>
        <td>
          <button @click="openBook(book)">Show thoughts</button>
        </td>
      </tr>

    </template>
  </tbody>
</table>



    <div v-if="showingBook >= 0"
         class="overlay"
         @click="closeBook">

      <div class="modal" @click.stop>
        <h3>
          Thoughts on {{ books[WillJess][showingBook].title }}
        </h3>

        <p>{{ books[WillJess][showingBook].thoughts }}</p>

        <button @click="closeBook">Close</button>
      </div>

    </div>


  </div>


    <script src="app.js"></script>
</body>
</html>
